<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx</title>
</head>

<body>

    <nav>
        <article>
            <img src="/img/pokebola-go.png" alt="">
            <h1><a href="/">Pokedéx</a></h1>
        </article>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Cadastro</a></li>
        </ul>
    </nav>

    
        <section id="message">
            <p>Pokemon criado com sucesso!</p> <span id="close">&times;</span>
        </section>
    

    <header>
        <h1>Pokedéx</h1>
    </header>

    <section id="pokedex">
        
    </section>

    <script src="/js/script.js"></script>

</body>

</html>